.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

/* src/components/Header.css */
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;

}



.sliding-text {
  width: 100%;
  display: flex;

  gap: 40px;
  height: 100%; /* Same height as font size */
 
}

.sliding-text {
text-align: left;
display: flex;
flex-direction: row;
gap: 70px;
    /* animation: slide-horizontal 9s infinite; */
}

.menuHeader{
  display: flex;
  gap: 120px;
  flex-direction: row;
  justify-content:center;
  
}

.maindiv {
  display: flex;
  justify-content: center;
  gap: 30px;

}
.menu{
  display: flex;
  justify-content: space-around;
  
  margin: auto;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  gap: 30px;
  font-family: "Aeonik";
}

.manuelement{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.headermenu{
  padding: 0;
  margin: 0;
  font-size: larger;
  cursor: pointer;
}
.thin-lineh{
  margin: auto;
  margin: 0;
  border: none;             /* Remove default border */
  height: 2px;
             /* Set thickness of the line */
   width: 0;         
  background-color: #0071C5; 
  transition: width 0.4s ease
}
@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}
.manuelement:hover  .thin-lineh{
  animation: expandLine 0.3s forwards
}
.logo{
  /* Group */

width: 211px;

height: 77px;


}

.icon{
width: 25px;
height: 27px;
top: 102px;
left: 1403px;
cursor: pointer;


}
.menuIcons{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
 
}


/* banner&header */
.header-banner{
  display: flex;
  flex-direction: column;
  gap: 20px;
height: 1050px;
font-family: "Aeonik";


}

/*  banner css */
.banner{
  display: flex;
  justify-content: center;
  width: 95%;
 height: 724px;

border-radius: 20px;
margin: auto;
margin-top: 0;
color: white;
border-radius: 10px;


}

.productimg{
  width: 100%;
  /* height:100%; */

  height: 854px;

  
  /* filter: drop-shadow( 10px 60px 70px#0033cc); */
 

 
 
}
.product-info{
  z-index: 9;
  position:absolute;

  margin-top: 30%;
  height: 30%;
 width: 30%;
  display: flex;
  flex-direction: column;
text-align: justify;
  gap: 20px;
  transform: translate(-410px,10px);
}
.product-info h1{
  margin: 0;
  width: 80%;
font-size: 40px;
font-weight: 600;
line-height: 57px;
text-align: left;


  
}
.product-info h3{

  font-size: 25px;
  font-weight: 400;
  line-height: 34.2px;
  text-align: left;
  text-decoration-skip-ink: none;
  margin: 0;
}
.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 360px;
}

/* button custom */

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 70px;





}

.buttons button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  width: 180px;
  height:  38px;
}
.buttons p{
  margin: 0;
}
.buy-now {
  background-color: #1a73e8;
  color: white;
}

.contact-us {
  background-color: white;
  color: #1a73e8;
}

.description {
  margin-top: 20px;
  font-size: 0.9rem;
}

.rating {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 3px;
  color: #e0e8f4;
}

/* videoDiv */
.videoDiv{
  position:absolute;
  z-index: 9;
/* image */
transform: translate(500px,460px);
display: flex;
flex-direction:column;
gap: 65px;


}
.videoDivimg{
  width: 95%;
  height: 95%;
 
  border-radius: 15px;
  border: 4px solid; /* Set border thickness */
  border-color:  #4a90e2;
}
.navigation{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  text-align: center;
  top:  300px;
right: -45px;
  width: 100%;
}
.navigation button{
  border-radius: 30px;
  height: 40px;
  width: 40px;
  font-size:larger;
  padding: 0;
  /* Ellipse 10 */
background: #E0E0E0;

}
.group-button{
  display: flex;
  justify-content:space-around;
  margin: auto;
  gap: 10px;
}
.view-product button{
  color: #1a1a1a;
  background-color: #EDF6FF;
  width: 220px;
  height: 90px;
  padding: 10px 15px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
font-size: 30px;
font-weight: 300;


}

.ADvideo{
  width: 100%;
  justify-content: center;
}
.ADvideo video{
  margin: auto;
  width: 100%;
  object-fit: cover;
}

/* topselling */

.topselling{
  position: relative;
  width: 100%;

display: flex;
flex-direction: column;
gap: 30px;
text-align: center;
margin-top: 100px;
margin-bottom: 90px;


}
.topTitle{
  
width: 100%;
font-size: 50px;
font-weight: 400;
margin: 0;



}

.topsellContent{

font-size: 17px;
font-weight: 400;
line-height: 19.38px;
margin: 0;


}

.topsellerSlider{
  position:relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
  scroll-behavior:smooth;
  gap: 30px;
  overflow-x:scroll;


  margin-left: 100px;
  height: 500%;
 
 
}
.sellerCard{
  position: relative;
  width: 450px;
height: 642px;
border-radius: 20px;
text-align: center;


}
.sellerCardImg1 {
  width: 100%;
 
  border-radius: 20px;
  overflow: hidden;
display: inline-block;
 

}
.sellerCardImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;

}
.card-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.span1{
font-size: 20px;
font-weight: 400;
line-height: 22.8px;
width: 50%;
text-align: left;

}
.span2{

  font-size: 25px;
  font-weight: 400;
  line-height: 28.5px;
  text-align: left;

  
}
.orderNow{

 position: absolute;
top: 70%;
left: 35%;
width: 161px;
height: 52px;
border-radius: 15px 15px 15px 15px;
    z-index: 9;
    text-align: center;
    background-color:#0071C5;
    color: white;
    border: none;
    padding: 10px;
   
    margin: auto;


    
}
.topsller{
  position: absolute;
  width: 135px;
  height: 44px;
  text-align: center;
  background-image: url('./assets/images/Rectangle 29.png');
  color: white;
 font-size: 25px;
 font-weight: 300;
 line-height: 28.5px;
 top: 30px;
 margin: auto;
 z-index:9 ;
}

.cart-button {
    position: absolute;
    width: 50px;
    height:50px ;

    top: 30px;
    right: 36px;
    z-index: 9;
    background: none;
    border-radius: 30px;
    border: none;
    background-color: #E0E0E0;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    visibility: visible;
  }

  .sellerCard:hover .sellerCardImg { 
    position: static;
    transform: scale(1.1);
  }
  .sellerCard:hover .cart-button{
   visibility:visible;
  }
  
  .drawer{
    position: absolute;
    width: 70%;
    height: 450px;
    background-color: white;
    color: #1a1a1a;
    border-radius: 0 0 10px 10px;
    z-index: 6;
    transition:  1s ;
  
  }
  /* .drawer:hover .drawer {
    opacity: 1;
  } */
 .searchdiv{
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 7;
  background-color: hsla(195, 4%, 19%, 0.5);
  display: flex;
  flex-direction: row;
  justify-content:center;
  visibility: hidden;
text-align: center;
  cursor: pointer;
 
 }
 
 .searchdiv2 input::placeholder {
  text-align: center;  /* Centers the placeholder text */
 font-size: 18px;     /* Optional: Customize placeholder color */
 transform: translate(0px,2px);
}
.searchdiv2 input {
  display: flex;
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */

  font-size: 16px;
  text-align: center;
}

.searchdiv2{
  position: absolute;
  width: 50%;
  height: 50px;
  left: 25%;

  top: 50%;
  z-index: 9;
  background-color: hsla(195, 4%, 19%, 0.5);
  display: flex;
  flex-direction: row;
  justify-content:center;
  visibility: hidden;
text-align: center;
  cursor: pointer;
}
.searchinput{

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
    z-index: 9

}

.searchdiv2 input{
 
  width: 100%;
  height:50px;
  border-radius: 10px;
  z-index: 9;


 }
.iconinput{
  position: absolute;
  width: 20px;
height: 20px;
transform: translate(320px,0px);
cursor: pointer;
z-index: 10;
}

