
.Dcard{
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Dcard h3{
   
margin: 0;

font-size: 18px;
font-weight: 400;
line-height: 20.52px;
text-align: left;


}

.DropImage{
    width: 180px;
height: 186px;




}

.dlist span{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 130px;
}
.drecord img{
    width: 13.42px;
    height: 10.37px;
   margin: auto;
  
    
}