@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/NewAeonikTrials/AeonikTRIAL-Regular.otf") format("opentype");
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#EDF6FF;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: "Aeonik";
}
::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Main menu */

