/* Main container */
.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1065px;
  color: #333333;
  font-family: "Aeonik";
  background-size: cover;
  background-position: center;
  background-image: url('https://s3-alpha-sig.figma.com/img/a5f0/67a3/0163edccf22ca386d409f952c94505a6?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=alLJUoxsUoJMxeuAeDlyDeDThoL8OdpeW1R7pAbrvO1r44XKSNX4D0mdwoXVgjFurfizT7okJnx1kJlsWJZugckBzA7Vj1nM3YDGpr2nhzRhjxRh1cF-rxbc~4cIRbYQJnYiMWu~61mEJ1RIvEOOg77Mu-f5dVFy3VtYwNJ7PuM8iZwOHLhiFXl~bnvYym68FBKMMqeIjz4~pMDcyT2I6JE7vpllbOJ6wRsw0uouPK3Md61HGLsizLrQVh6PYkvo7fJ8RV1Anar19jug4Wlzyc0Zh0tfQk~uIOS7S88Jp36M-Vy8p-X90gzWL9S8FvBVixq6c4c25PU6fRtFq0Mjdw__');

}

/* Top section with background image */
.showcase-header {

  width: 100%;


  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  gap: 30%;
  text-align: left;
  color: white;
  position: relative;
}


.showcase-title,
.showcase-description {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 20px;
}

.showcase-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}

.showcase-description {
  font-size: 16px;
  margin-top: 15px;
  max-width: 400px;
  color: #e0e0e0;
}

/* Footer section */
.showcase-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
height: 366px;
font-family: "Aeonik";

  background-color: #f0f5fa;
  border-top: 1px solid #ddd;
}

.showcase-footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 30%;
  color: #333333;
}

.footer-icon {
  width: 40px;
  margin-bottom: 15px;
}

.footer-title {

  margin: 0;

font-size: 25px;
font-weight: 400;
line-height: 28.5px;
text-align: left;
color: #000000;
;

}

.footer-description {
  font-size: 14px;
  color:black;
  margin-top: 10px;
  max-width: 300px;
}
